/*Reset*/
/*Il reset non serve*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

main{
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: row;
}

/*Utils*/

.cs-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.cs-bg-blue{
    background-color: #242492;
}

/*Sidebar*/

.cs-sidebar{
    flex-shrink: 0;
    flex-basis: 70px;
    background-image: url('../img/sidebar-bg.png');
    background-color: #0e0b3d;
}

@media screen and (min-width: 992px) {
    .cs-sidebar{
        flex-basis: 150px;
    }
}

.cs-sidebar-icon{
    color: white;
    font-size: 24px;
}

.cs-sidebar a{
    text-decoration: none;
    color: white;
}

.search-icon{
    padding: 8px;
}

/*Dashboard*/

.cs-dashboard{
    overflow: auto;
    flex: 1;
}

@media screen and (min-width: 992px) {
    .cs-dashboard .cs-dashboard-header .offcanvas.offcanvas-end{
        max-width: 70%;
    } 
}



.card-body img{
    height: 30px;
    width: 30px;
}

.card-body i{
    border: 1px solid;
    border-radius: 2px;
    padding: 8px;
}
/*Header*/

.cs-logo-image{
    width: 50px;
}

.navbar .btn-group button::before{
    display: none;
}

@media screen and (min-width: 992px) {
    .cs-logo-image{
        width: 100%;
        height: auto;
    }
}