/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

main{
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: row;
    background-color: blue;
}

/*Utils*/

.cs-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.cs-sidebar{
    background-color: blueviolet;
    flex-shrink: 0;
    flex-basis: 70px;
}

.cs-dashboard{
    overflow: auto;
    flex: 1;
}